{% extends "base.html" %}

{% block content %}
<h1>About Us</h1>
<p>Welcome to TXYZ VR, where we are dedicated to creating cost-efficient body tracking solutions.</p>

<h2>Our Mission</h2>
<p>At TXYZ VR, our mission is to innovate in the field of virtual reality by providing affordable and accessible body tracking technology. We believe that everyone should have the opportunity to experience the immersive world of VR without breaking the bank.</p>

<h2>Our Team</h2>
<p>Our team is composed of Justin Morissette and Félix Allard, two passionate developpers.</p>

<h2>Our Vision</h2>
<p>We envision a future where body tracking technology is seamlessly integrated into everyday life, enhancing both entertainment and productivity. Our goal is to make this technology accessible to everyone, from gamers to educators and beyond.</p>

<h2>Contact Us</h2>
<p>If you have any questions or inquiries, feel free to reach out to us:</p>
<ul>
    <li>Email: justin.morissette.qc@gmail.com or xilef992@gmail.com</li>
    <li>Phone: (438) 507-2729</li>
</ul>

<p>Thank you for visiting our website!</p>
{% endblock %}
