{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Login</h1>

<div id="flashMessageContainer" class="text-center mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info">
        <p>{{ messages[-1] }}</p>
    </div>
    {% endif %}
    {% endwith %}
</div>

<div id="errorContainer" class="text-center mt-4" style="display: none;">
    <div class="alert alert-danger" id="errorMessage"></div>
    <button class="btn btn-blue mt-3" id="retryButton" onclick="checkConnection()">Try to connect again</button>
</div>


<div id="loadingContainer" class="text-center" style="display: none;">
    <div class="alert alert-info" id="loadingMessage" style="background-color: transparent; border: none;">
        <span class="spinner-border text-primary" role="status" aria-hidden="true" style="width: 3rem; height: 3rem;"></span>
        <p class="mt-3">Connecting to Raspberry Pi...</p>
    </div>
</div>

<div id="raspberryPiIdContainer" class="text-center" style="display: none;">
    <p>Your Raspberry PI ID is: <span id="raspberryPiId" class="font-weight-bold"></span></p>
</div>

<form method="POST" id="loginForm" onsubmit="showLoading(event)">
    <input type="hidden" id="piId" name="id">
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required maxlength="20" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary mt-3 btn-block">Login</button>
</form>

<div class="text-center mt-3">
    <p>Current Raspberry Pi IP: <strong>{{ raspberryPi_IP }}</strong></p>
    <button class="btn btn-info" onclick="window.location.href=`{{ url_for('set_ip_port') }}`">Change IP Address</button>
</div>

<script>
    const raspberryPi_IP = "{{ raspberryPi_IP }}";
    if (raspberryPi_IP === "http://None:None" && raspberryPi_IP === "" && raspberryPi_IP === "http://192.168.0.100:5000") {
        window.location.href = "{{ url_for('set_ip_port') }}";
    }

    function showLoading(event) {
        event.preventDefault();

        const pi_id = document.getElementById('piId').value;
        const password = document.getElementById('password').value;

        fetch(`${raspberryPi_IP}/password`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id: pi_id, password: password })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to authenticate with Raspberry Pi');
                }
                return response.json();
            })
            .then(data => {
                if (data.authenticated) {
                    console.log("Authentication successful. Logging into Flask...");

                    return fetch('/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ id: pi_id, password: password })
                    });
                } else {
                    throw new Error('Invalid password');
                }
            })
            .then(flaskResponse => {
                if (!flaskResponse.ok) {
                    throw new Error('Failed to log in to Flask');
                }
                return flaskResponse.json();
            })
            .then(flaskData => {
                if (flaskData.success) {
                    console.log("Flask login successful. Redirecting to data page...");
                    window.location.href = '/data';
                } else {
                    document.getElementById('errorMessage').textContent = 'Flask login failed. Please try again.';
                    document.getElementById('errorContainer').style.display = 'block';
                    document.getElementById('loadingContainer').style.display = 'none';
                    document.getElementById('retryButton').style.display = 'none';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('errorMessage').textContent = error.message;
                document.getElementById('errorContainer').style.display = 'block';
                document.getElementById('loadingContainer').style.display = 'none';
                document.getElementById('retryButton').style.display = 'none';
            });
    }


    function checkConnection() {
        document.getElementById('loadingContainer').style.display = 'block';
        document.getElementById('raspberryPiIdContainer').style.display = 'none';
        document.getElementById('loginForm').style.display = 'none';
        document.getElementById('errorContainer').style.display = 'none';

        fetch(raspberryPi_IP + '/ping')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.message === 'pong') {
                    console.log("Raspberry Pi is connected.");
                    fetchRaspberryPiId();
                } else {
                    throw new Error('Unexpected response from server');
                }
            })
            .catch(error => {
                console.error('Error connecting to Raspberry Pi:', error);
                document.getElementById('errorMessage').textContent = 'Couldn\'t connect to the Raspberry PI';
                document.getElementById('errorContainer').style.display = 'block';
                document.getElementById('retryButton').style.display = 'block';
                document.getElementById('loadingContainer').style.display = 'none';
            });
    }

    function fetchRaspberryPiId() {
        fetch(raspberryPi_IP + '/id')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.id) {
                    document.getElementById('raspberryPiId').textContent = data.id;
                    document.getElementById('piId').value = data.id;
                    console.log("Raspberry Pi ID fetched:", data.id);
                    document.getElementById('raspberryPiIdContainer').style.display = 'block';
                    document.getElementById('loginForm').style.display = 'block';
                    document.getElementById('loadingContainer').style.display = 'none';
                } else {
                    throw new Error('ID not found');
                }
            })
            .catch(error => {
                console.error('Error fetching Raspberry Pi ID:', error);
                document.getElementById('errorMessage').textContent = 'Couldn\'t connect to the Raspberry PI';
                document.getElementById('errorContainer').style.display = 'block';
                document.getElementById('loadingContainer').style.display = 'none';
            });
    }

    document.addEventListener('DOMContentLoaded', checkConnection);

    document.addEventListener('DOMContentLoaded', function() {
        if (raspberryPi_IP === "http://192.168.0.100:5000" || (raspberryPi_IP === "http://None:None" && raspberryPi_IP === "" && raspberryPi_IP)) {
            window.location.href = "{{ url_for('set_ip_port') }}";
        }
    });
</script>
{% endblock %}
